Repository timrodz/oink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo clippy --manifest-path src-tauri/Cargo.toml, cargo fmt --manifest-path src-tauri/Cargo.toml

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": "prettier --write",
  "*.rs": [
    "cargo clippy --manifest-path src-tauri/Cargo.toml",
    "cargo fmt --manifest-path src-tauri/Cargo.toml"
  ]
}

refactor: Remove props from header
  src/components/header.tsx
  src/pages/analytics-page.tsx
  src/pages/balance-sheet-page.tsx
  src/pages/home-page.tsx
  src/pages/retirement-page.tsx
Due: eslint --fix, prettier --write

refactor: Make header sticky and not show scroll
  src/components/header.tsx
  src/components/main-nav.tsx
  src/index.css
Due: eslint --fix, prettier --write

refactor: tailwind canonical classses for charts
  src/components/charts/monthly-growth-chart.tsx
  src/components/charts/net-worth-breakdown-chart.tsx
  src/components/charts/retirement-projection-chart.tsx
Due: eslint --fix, prettier --write

refactor: split chart helpers into modules
  src-tauri/tauri.conf.json
  src/components/charts/balance-sheet-chart.tsx
  src/components/charts/monthly-growth-chart.tsx
  src/components/charts/net-worth-breakdown-chart.tsx
  src/components/charts/net-worth-trend-chart.tsx
  src/components/charts/retirement-projection-chart.tsx
  src/components/charts/sub-category-breakdown-chart.tsx
  src/components/charts/sub-category-trend-chart.tsx
  src/features/analytics/analytics-feature.tsx
  src/features/balance-sheet/balance-sheet-feature.tsx
  src/features/dashboard/components/net-worth-kpis.tsx
  src/features/dashboard/components/section-net-worth.tsx
  src/features/retirement-planner/components/net-worth-growth-projection.tsx
  src/lib/charts.ts
  src/lib/charts/balance-sheet.ts
  src/lib/charts/monthly-growth.ts
  src/lib/charts/net-worth-breakdown.ts
  src/lib/charts/net-worth-trend.ts
  src/lib/charts/retirement-projection.ts
  src/lib/charts/sub-category-breakdown.ts
  src/lib/charts/sub-category-trend.ts
  src/lib/constants/charts.ts
Due: eslint --fix, prettier --write

refactor: Styling from tweakcn (initial pass)
  src/components/charts/balance-sheet-chart.tsx
  src/components/charts/net-worth-trend-chart.tsx
  src/components/charts/sub-category-trend-chart.tsx
  src/features/dashboard/components/net-worth-kpis.tsx
  src/index.css
Due: eslint --fix, prettier --write

refactor: Breakdown sections + fix labels on net worth
  src/components/charts/monthly-growth-chart.tsx
  src/components/charts/net-worth-breakdown-chart.tsx
  src/components/charts/net-worth-trend-chart.tsx
  src/components/charts/sub-category-breakdown-chart.tsx
  src/features/dashboard/components/section-net-worth.tsx
  src/index.css
  src/lib/charts/net-worth-breakdown.ts
  src/lib/charts/sub-category-breakdown.ts
Due: eslint --fix, prettier --write

refactor: Migrate balance sheet to recharts
  src/components/charts/balance-sheet-chart.tsx
  src/lib/charts/balance-sheet.ts
Due: eslint --fix, prettier --write

refactor: Migrate retirement projection to recharts
  src/components/charts/retirement-projection-chart.tsx
  src/lib/charts/retirement-projection.ts
Due: eslint --fix, prettier --write

chore: Remove chartsjs
  bun.lock
  package.json
  src/AGENTS.md
Due: prettier --write

chore: Cleanup unused imports
  src/components/ui/chart.tsx
  src/lib/constants/charts.ts
Due: eslint --fix, prettier --write

chore: Pre-commit to include typecheck at end
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

feat: require user settings after onboarding
  src/components/app-layout.tsx
  src/components/header.tsx
  src/features/analytics/analytics-feature.tsx
  src/features/dashboard/components/section-accounts.tsx
  src/features/dashboard/components/section-net-worth.tsx
  src/features/retirement-planner/retirement-planner-feature.tsx
  src/pages/balance-sheet-page.tsx
  src/providers/user-settings-provider.tsx
Due: eslint --fix, prettier --write

chore: Update theme for more cohesive design
  src/index.css
Due: none

refactor: Styling tweaks + net worth KPIs font color
  src/features/dashboard/components/net-worth-kpis.tsx
  src/index.css
Due: eslint --fix, prettier --write

feat: add exchange sync dirty flag to settings
  src-tauri/migrations/20260201000000_add_exchange_sync_flag.sql
  src-tauri/src/models.rs
  src-tauri/src/services/user_settings.rs
Due: cargo clippy --manifest-path src-tauri/Cargo.toml, cargo fmt --manifest-path src-tauri/Cargo.toml

chore: refresh settings after account changes
  src/features/accounts-list/accounts-list-feature.tsx
  src/features/accounts-list/components/account-row.tsx
Due: eslint --fix, prettier --write

chore: Update package versions
  bun.lock
  package.json
Due: prettier --write

chore: Bun.lock
  bun.lock
Due: none

Add progress screenshots for 05/02/2026
  README.md
Due: prettier --write

feat: Introduce currency-input component
  src/components/ui/currency-input.tsx
  src/features/retirement-planner/components/input-form.tsx
  src/features/retirement-planner/components/projection-results.tsx
Due: eslint --fix, prettier --write
